<h1 style="text-align: center">File Uploader</h1>
<div style="text-align: center" class="tag">
  <form>
    <div>
      <input type="file" name="document" (change)="selectDocument()" />
    </div>
    <br>
    <div>
      <button type="submit" (click)="onSubmit()">Upload
      </button>
    </div>
  </form>
</div>
<hr>
<h2 style="text-align: center">Multiple</h2>
<div style="text-align: center">
  <form>
    <div>
      <input type="file" name="multiplefiles" multiple (change)="selectMultipleDocument()" />
    </div>
    
      <div>
        <button type="submit" (click)="onMultipleSubmit()">Multiple Upload</button>
      </div><br>

 <div>
        <button type="submit" (click)="download()">Download</button>
      </div>



      <!-- <div>
        <button class="btn" mat-raised-button color="primary">
          UploadProgress
        </button>
        Progess = {{progress}} %
        <br>
        <mat-progress-bar class="example-margin" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-bar>
        <br> -->
<!-- 
        <progress-bar [progress]="100" [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
        </progress-bar> -->
        <!-- <progress-bar [color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}" >

        </progress-bar> -->